<div class="blog-top-img">
  <div class="effect-over"></div>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="about4-top-title">Blog with <span class="color-txt">Right Sidebar</span> </h1>

    </div>
  </div> 
</div> 
<div class="breadcrumb-color breadcrumb-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container">
        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img alt="" src="http://placehold.it/700x450" class="img-responsive img-home-portfolio">
                    <div class="overlay">
                            <a data-fancybox-group="button" class="expand fancybox-effects-d" href="assets/images/8.jpg">+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img alt="" src="http://placehold.it/700x450" class="img-responsive img-home-portfolio">
                    <div class="overlay">
                            <a data-fancybox-group="button" class="expand fancybox-effects-d" href="assets/images/8.jpg">+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img alt="" src="http://placehold.it/700x450" class="img-responsive img-home-portfolio">
                    <div class="overlay">
                            <a data-fancybox-group="button" class="expand fancybox-effects-d" href="assets/images/8.jpg">+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img alt="" src="http://placehold.it/700x450" class="img-responsive img-home-portfolio">
                    <div class="overlay">
                            <a data-fancybox-group="button" class="expand fancybox-effects-d" href="assets/images/8.jpg">+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img alt="" src="http://placehold.it/700x450" class="img-responsive img-home-portfolio">
                    <div class="overlay">
                            <a data-fancybox-group="button" class="expand fancybox-effects-d" href="assets/images/8.jpg">+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 img-prt">
                <div class="img">
                    <img alt="" src="http://placehold.it/700x450" class="img-responsive img-home-portfolio">
                    <div class="overlay">
                            <a data-fancybox-group="button" class="expand fancybox-effects-d" href="assets/images/8.jpg">+</a>
                            <a class="close-overlay hidden">x</a>
                      </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
</div>