<div class="blog-top-img">
  <div class="effect-over"></div>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="about4-top-title">Blog with <span class="color-txt">Right Sidebar</span> </h1>
    </div>
  </div> 
</div> 
<div class="breadcrumb-color breadcrumb-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="<%= root_path%>">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="row img-shadow effect-5">
        <div class="col-lg-12 text-center">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Excepteur sint occaecat cupidatat non proident sunt</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
        </div>
    </div>
    <div class="home5-portfolio">
        <div id="cbp-vm" class="activegrid">
            <ul id="product" class="albumContainer">
                <li class="cat3">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>Design Ux</span></p>
                        <p><span>Creative</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li> 
                <li class="cat1">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>New Ux</span></p>
                        <p><span>Photography</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
                <li class="cat1">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>New Media</span></p>
                        <p><span>Social</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
                <li class="cat2">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>Rest</span></p>
                        <p><span>Creative</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
                <li class="cat4">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>New Office</span></p>
                        <p><span>City</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
                <li class="cat2">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>Dancing</span></p>
                        <p><span>happy idea</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
                <li class="cat4">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>concept</span></p>
                        <p><span>designer</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
                <li class="cat2">
                    <img src="http://placehold.it/700x450" alt="" />
                    <div class="folio-desc">
                        <p><span>project</span></p>
                        <p><span>study</span></p>
                    </div>
                    <div class="lents-images-zoom">
                        <a class="fancybox-effects-d" data-fancybox-group="button" href="/assets/8.jpg"><i class="fa fa-search"></i></a><br />
                    </div>
                </li>
            </ul>           
        </div>
    </div>
</div>
<!--slide-->
<script src="/assets/slide/modernizr.custom.js" type="text/javascript"></script>
<script src="/assets/slide/classie.js" type="text/javascript"></script>
<script src="/assets/slide/boxesFx.js" type="text/javascript"></script>
<script src="/assets/minislide/jquery.flexslider.js" type="text/javascript"></script>
<!--Carousel Testimonial-->
<script src="/assets/owl_carousel/owl.carousel.js" type="text/javascript"></script>
<!--Porfolio-->
<script src="/assets/gallery/jquery.fancybox.js" type="text/javascript"></script>
<script src="/assets/gallery/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
<!-- Filter Images-->
<script src="/assets/isotope.js" type="text/javascript"></script>
<script src="/assets/script.js" type="text/javascript"></script>