<p id="notice"><%= notice %></p>

<h1>Listing Championships</h1>

<table>
  <thead>
    <tr>
      <th>Type championship</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @championships.each do |championship| %>
      <tr>
        <td><%= championship.type_championship_id %></td>
        <td><%= championship.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
