<div class="row text">
  <div class="col-md-12">    
    <div data-example-id="thumbnails-with-custom-content" class="bs-example">
      <div class="row">
        <% @canine_awards.each do |canine_award| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
           <%if canine_award.img.blank? %>
              <img alt="" class="img-responsive" src="http://placehold.it/340x290">
            <%else%>
              <img alt="" class="img-responsive" src="<%= canine_award.img%>" style="height: 280px; width: auto;">
           <%end%>
            <div class="caption">
              <h5 id="thumbnail-label">Primer Puesto<a href="#thumbnail-label" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h5>

              <h3 id="thumbnail-label"><%= canine_award.name %><a href="#thumbnail-label" class="anchorjs-link"><span class="anchorjs-icon"></span></a></h3>
              <p><%= canine_award.description%></p>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
