<div class="container m40px">
  <div class="box-purchase">
    <div class="col-md-12">
      <div class="row">
        <%= search_form_for @search, url: canines_path do |f|%>   
          <div class="col-md-4">
            <label>Nombre O LOF</label>
            <%= f.search_field(:name_or_lof_cont, class: 'form-control')%>
          </div>
          <div class="col-md-4">
            <%= f.submit :class =>"btn btn btn-primary btn-block"%>
          </div>
          <div class="col-md-4">
            <%= link_to t('.clear'), request.path, class:"btn btn-danger btn_white btn-block"%>
          </div>
        <%end%>
      </div>
    </div>  
  </div>
  <p class="white-space"></p>
  <%- if params[:q]%>
    <% @canines.each do |canine| %>
      <hr>
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-4">
            <img src="http://placehold.it/350x350" class="img-thumbnail">
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
