<div class="blog-top-img">
  <div class="effect-over"></div>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="about4-top-title">Texto descriptivo<span class="color-txt"> Texto descriptivo</span></h1>
      <h1 class="about4-top-title about4-top-second"><span class="color-txt">Texto descriptivo</span> </h1>
    </div>
  </div> 
</div>
<div class="breadcrumb-color"></div>
<%= render '/admin/features/form' %>
