<% @comments.each do |comment| %>
<br>
  <%= link_to denounce_path(comment_id: comment.id), method: :put ,data: { confirm: 'Desea Denunciar esta publicacion?' } do %>
          <i class="fa fa-exclamation-circle pull-right"></i>
      <%end%>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%=comment.name_user%>
        <small><%=comment.email_user%></small>
      </h4>
      <p><%=comment.message%></p>
    </div>
  </div>
<% end %>
