<% if @category_race_variety.errors.any? %>
$('#erros').append('<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <%= @category_race_variety.errors.full_messages.to_sentence%></div>');
<%else%>
	location.reload();
<%end%>