<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    	<p> Hola <%= @name%></p>
    	<p>y a traves de este link puedes ingresar tu sumula digitalizada.</p>
    	<a href="http://fedepit.com/home/metter/"> Sumula Digitalizada</a>
    </body>
</html>