<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Number seen</th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.number_seen %></td>
        <td><%= video.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

