<script src="/assets/slide/modernizr.custom.js"></script>
<div class="container-slide">
	<div id="boxgallery" class="boxgallery" data-effect="effect-1">
		<div class="panel">
			<div class='bg-black'></div>
			<img src="http://placehold.it/1920x1080" alt="Image 1"/>
			<div class='slide-middle-txt animated'>
				<p>We create Digital Experiences</p>
				<h1>Creative <span class="color-txt">+</span> Innovation</h1>
			</div>
		</div>
		<div class="panel">
			<div class='bg-black'></div>
			<img src="http://placehold.it/1920x1080" alt="Image 2"/>
			<div class='slide-middle-txt animated'>
				<p>We have g<span class="color-txt">oo</span>d support</p>
				<h1>G<span class="color-txt">oo</span>d Documentation</h1>
			</div>
		</div>
		<div class="panel">
			<div class='bg-black'></div>
			<img src="http://placehold.it/1920x1080" alt="Image 3"/>
			<div class='slide-middle-txt animated'>
				<p>ModelView ViewModel</p>
				<h1>Theme Angular<span class="color-txt">JS</span></h1>
			</div>
		</div>
		<div class="panel">
			<div class='bg-black'></div>
			<img src="http://placehold.it/1920x1080" alt="Image 4"/>
			<div class='slide-middle-txt animated'>
				<p>we do not stop</p>
				<h1>updates <span class="color-txt">+</span> new pages </h1>
			</div>
		</div>	
	</div>

</div>

<script src="/assets/slide/classie.js"></script>
<script src="/assets/slide/boxesFx.js"></script>
<script>
new BoxesFx( document.getElementById( 'boxgallery' ) );
</script>

<div class="home4 section wave">
      <div class="wather-ground"></div>
      <div class="container">
        <div class="row banner-info">
          <div class="col-lg-12 text-center">
            <h1 class="section-title">Our <span>Services</span></h1>
            <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
          </div>
          <div id="html5service" class="col-lg-12 col-md-12 home5-percentage">
            <div class="col-lg-3 col-md-3">
              <div class="angula-box-5">
                <div class="fact-icon"><span class="icon-layers"></span></div>
                <h3 class="light uppercase">AngularJs</h3>
                <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                <a class="btn btn-lg btn-primary" href="#">Read more</a>
              </div>
            </div><!-- End Factor -->
            <div class="col-lg-3 col-md-3">
              <div class="angula-box-5">
                <div class="fact-icon"><span class=" icon-tools-2"></span></div>
                <h3 class="light uppercase">Quality Support</h3>
                <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                <a class="btn btn-lg btn-primary" href="#">Read more</a>
              </div>
            </div><!-- End Factor -->
            <div class="col-lg-3 col-md-3">
              <div class="angula-box-5">
                <div class="fact-icon"><span class="icon-mobile"></span></div>
                <h3 class="light uppercase">Extensibility</h3>
                <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                <a class="btn btn-lg btn-primary" href="#">Read more</a>
              </div>
            </div><!-- End Factor -->
            <div class="col-lg-3 col-md-3">
              <div class="angula-box-5">
                <div class="fact-icon"><span class=" icon-linegraph"></span></div>
                <h3 class="light uppercase">Modern Scripts</h3>
                <p>Angula use angularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
                <a class="btn btn-lg btn-primary" href="#">Read more</a>
              </div>
            </div><!-- End Factor -->
            <div class="clear"></div>
          </div>

        </div>

        <!-- /.row -->

      </div>
      <!-- /.container -->

    </div>
