<script src="/assets/slide/modernizr.custom.js"></script>
<div class="container-slide">
  <div id="boxgallery" class="boxgallery" data-effect="effect-1">
    <div class="panel">
      <img src="/assets/landingPage.jpg" alt="Image 1"/>
      <div class='slide-middle-txt animated'>
        <p>We create Digital Experiences</p>
        <h1>Creative <span class="color-txt">+</span> Innovation</h1>
      </div>
    </div>
    <div class="panel">
      <img src="/assets/landingPage3.jpg" alt="Image 2"/>
      <div class='slide-middle-txt animated'>
        <p>We have g<span class="color-txt">oo</span>d support</p>
        <h1>G<span class="color-txt">oo</span>d Documentation</h1>
      </div>
    </div>
    <div class="panel">
      <img src="/assets/landingPage2.jpg" alt="Image 3"/>
      <div class='slide-middle-txt animated'>
        <p>ModelView ViewModel</p>
        <h1>Theme Angular<span class="color-txt">JS</span></h1>
      </div>
    </div>
    <div class="panel">
      <img src="/assets/landingPage4.jpg" alt="Image 4"/>
      <div class='slide-middle-txt animated'>
        <p>we do not stop</p>
        <h1>updates <span class="color-txt">+</span> new pages </h1>
      </div>
    </div>	
  </div>
</div>
<script src="/assets/slide/classie.js"></script>
<script src="/assets/slide/boxesFx.js"></script>
<%= javascript_include_tag "script2"%>

