<div class="blog-top-img">
  <div class="effect-over"></div>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="about4-top-title">Blog with <span class="color-txt">Right Sidebar</span> </h1>

      <div class="buy-angula"><a href="#" class="btn btn-lg btn-primary">Purchase now! </a></div>
    </div>
  </div> 
</div> 
<div class="breadcrumb-color breadcrumb-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><%=t('.home')%></a>
                    </li>
                    <li class="active"><%=t('.contact')%></li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="row last-inf-dt">

        <div class="col-sm-8">
            <h4 class="contact-title">Let's Get In Touch!</h4>
            
            <p class="contact-sub-txt">Lid est laborum dolo rumes fugats untras. <br>Etharums ser quidem rerum facilis dolores nemis omnis fugats sadips amets.</p>

            <form action="#" method="POST" role="form" id="contact-form">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="input1">Name *</label>
                        <input type="text" id="input1" class="form-control" placeholder="e.g. Jhon Smith" name="contact_name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="input1">Company Name</label>
                        <input type="text" id="input5" class="form-control" placeholder="e.g. Angu Studio" name="contact_name">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-6">
                        <label for="input2">Email Address *</label>
                        <input type="email" id="input2" class="form-control" placeholder="e.g. mail@example.com" name="contact_email">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="input3">Phone Number</label>
                        <input type="phone" id="input3" class="form-control" placeholder="+004 123 23 456" name="contact_phone">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message</label>
                        <textarea id="input4" rows="6" class="form-control" name="contact_message"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" value="contact" name="save">
                        <button class="btn btn-primary bt-contact-submit" type="submit">Submit</button>
                        <p class="success">Your message has been sent successfully.</p>
                        <p class="error">E-mail must be valid and message must be longer than 20 characters.</p>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4 contact-details">
            <h4 class="contact-title">Modern Business</h4>
            
            <p>
                5555 44th Street N.<br>
                Bootstrapville, CA 32323<br>
            </p>

            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (555) 984-3600</p>

            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@angula.com">feedback@angula.com</a></p>

            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Twitter">
                             <i class="fa fa-twitter"></i>
                     </a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div>