<button type="button" class="pull-right" data-toggle="modal" data-target="#myModalAward" >Agregar Premio</button>
<div class="row" style="margin-top: 37px;">
  <div class="col-md-3">
    <% @canine_awards.each do |canine_award| %>
      <div class="thumbnail">
        <%if canine_award.img.blank? %>
        <img alt="" class="img-responsive" src="http://placehold.it/340x290">
        <%else%>
        <img alt="" class="img-responsive" src="<%= canine_award.img%>" style="height: 280px; width: auto;">
        <%end%>
        <div class="caption">
          <h3><%= canine_award.name%></h3>
          <p><%= canine_award.description%>.</p>
        </div>
      </div>
    <%end%>
  </div>
</div>
<%= render :partial => "form_award"%>