<ul>
	<%collection.arrange.each do |category, sub_item|%>
		<li><%= category.id%>
			<%- if category.has_children?%>
				<%= render partial: "children", locals: { collection: category.children, as: :children }%>
			<%end%>
		</li>
	<%end%>
</ul>