<div class="container">
	<div class="row col-lg-12">
		<% @images.each do |image| %>
			<div class="col-md-2" style="margin-left: 35px;">
				<br>
				<%= image_tag image.file.url, :class => "thumbnail", :size => '200x200'%>
			</div>
		<% end %>
	</div>
</div>
