<div class="container">
	<div class="row col-lg-12">
		<% @images.each do |image| %>
			<div class="col-md-2">
				<br>
				<%= image_tag image.file_url, :class => "thumbnail", :size => '126x162'%>
			</div>
		<% end %>
	</div>
</div>
