<div class="container">
	<div class="row col-lg-12">
		<% @images.each do |image| %>
			<div class="col-lg-4">
				<br>
				<a href="<%=image.file.url%>"> <img alt="" class="img-responsive" src="<%=image.file%>" style="height: 310px; width: 320px;"> </a>
				<br>
			</div>
		<% end %>
	</div>
</div>
