<br>
<table>
	<%@canine.images.each do |image|%>
		<tr>
			<td><%= image_tag image.file_url, :class => "thumbnail", :size => '108x81'%></td>
			<!-- <td><%= link_to admin_canine_image_path(canine_id: @canine.id, id: image.id ), method: :delete, data: { confirm: 'Desea eliminar este la imagen?' } do %>
        <i class="fa fa-trash-o"></i>
    <%end%> --></td>
		</tr>
	<%end%>
</table>