<style type="text/css">
    
    .Padre.padrescanino {
        position: relative;
    }
    .canineimage {
        height: 79%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .caninename {
        bottom: 0;
        font-size: 11px;
        left: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .caninename.bisabuelos {
        padding: 0 !important;
    }
    .Padre.row, .Madre.row {
        margin-left: 0;
        margin-right: 0;
    }
    .me{
        padding: 10px;
        text-align: center;
    }
</style>
<div class="row principal">
        <div class="row">
            <div class="col-md-12 me">
                <%= link_to @canine.name, admin_canine_path(@canine) %>
            </div>     
        </div>
        <section data-role="display" data-current="linaje" class="col-lg-12">
            <%if @canine.lft.blank? or @canine.rgt.blank?%>
                <%= render partial: "admin/canines/pedigree2"%>
            <%end%>
        </section>
</div>