<div class="row">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th class="center">Nombre</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @canines.each do |canine| %>
        <tr >
          <td class="center"><%= canine.name %></td>
          <td class="center"><%= link_to "Crear Nuevo Metter", new_admin_canino_characteristic_path(canine_id: canine.id), :class => "link_to"  %></td>
          <td class="center"><%= link_to "Adicionar Metter", new_admin_canino_characteristic_path(canine_id: canine.id), :class => "link_to"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @canines, :locals => { :canines => @canines }, renderer: BootstrapPagination::Rails%>


