<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_championship.name %>
</p>

<%= link_to 'Edit', edit_type_championship_path(@type_championship) %> |
<%= link_to 'Back', type_championships_path %>
