<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_breeder.name %>
</p>

<%= link_to 'Edit', edit_type_breeder_path(@type_breeder) %> |
<%= link_to 'Back', type_breeders_path %>
