@charset "utf-8";
/* CSS Document */
[data-role=display] {
	width: 100%;
	height: 600px;
	overflow: hidden;
}

[data-role=display] .Window {
	height: 100%;
	width: 600%;
}
[data-role=display] .Window [data-bloque]{
	width: 16%;
	height: 100%;
}
