<footer>
  <div class="info-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-sm-4"><span class="ic-fo icon-phone"></span><span> +353 (0) 123 456 78</span></div>
          <div class="col-sm-4"><span class="ic-fo icon-envelope"></span><span> hello@angutheme.com</span></div>
          <div class="col-sm-4"><span class="ic-fo icon-map-pin"></span><span>+353 (0) 123 456 78</span></div>
        </div>
      </div>
    </div>
  </div>
</footer>