<div id="loader-wrapper">
      <div id="loader"></div>
    </div>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="index.html"><img src="/assets/logo3.jpg" alt="logo" /></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
              <ul class="dropdown-menu vertical-li">
                <li><a href="index.html">Home 1</a></li>
                <li><a href="home2.html">Home 2</a></li>
                <li><a href="home3.html">Home 3</a></li>
                <li><a href="home4.html">Home 4</a></li>
                <li><a href="home5.html">Home 5</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
              <ul class="dropdown-menu vertical-li">
                <li><a href="about.html">About Us Page 1</a></li>
                <li><a href="about2.html">About Us Page 2</a></li>
                <li><a href="about3.html">About Us Page 3</a></li>
                <li><a href="about4.html">About Us Page 4</a></li>
              </ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
              <ul class="dropdown-menu vertical-li">
                <li><a href="shop/store.html">Shop Page</a></li>
                <li><a href="shop/store_dresses.html">Shop Dresses</a></li>
                <li><a href="shop/product.html">Single Prod.</a></li>
                <li><a href="shop/product_dresses.html">Single Dresses</a></li>
                <li><a href="shop/store_dresses_rc.html">Shop Dresses Right Col.</a></li>
                <li><a href="shop/store_dresses_lc.html">Shop Dresses Left Col.</a></li>
                <li><a href="shop/shoppingCart.html">Shopping Cart</a></li>
              </ul>
            </li>

            <li class="dropdown menu-large"><a class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
              <ul class="menu-items megamenu dropdown-menu">
                <li class="menu-item col-sm-3">
                  <h3 class="angula-megamenu-title">Page Samples 1</h3>
                  <ul class="mega-sub-menu">
                    <li><i class="fa fa-angle-right"></i><a href="services.html">Services</a></li>      
                    <li><i class="fa fa-angle-right"></i><a href="meet_team.html">Meet the Team</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="faq.html">FAQ</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="404.html">404</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="pricing.html">Pricing Table</a></li>
                  </ul>
                </li>
                <li class="menu-item col-sm-3">
                  <h3 class="angula-megamenu-title">Page Samples 2</h3>
                  <ul class="mega-sub-menu">
                    <li><i class="fa fa-angle-right"></i><a href="templates/footer.html">Footer 1 </a></li>
                    <li><i class="fa fa-angle-right"></i><a href="templates/footer_2.html">Footer 2</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="templates/footer_3.html">Footer 3</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="templates/footer_sponsor.html">Footer 4</a></li>
                    <li><i class="fa fa-angle-right"></i><a href="templates/header_dark.html">Header dark</a></li>
                  </ul>
                </li>
                <li class="menu-item col-sm-6 menu-adwertising">
                  <div class="col-md-6">                              
                    <figure class="hero-image hero-imacretina-1"></figure>
                    <figure class="hero-image hero-imacretina-2"></figure>
                    <figure class="hero-image hero-imacretina-3"></figure>
                    <img class="discount" src="/assets/discount.png" alt="" />
                  </div>
                  <div class="col-md-6 menu-text-monitor">
                    <p> Start something new.</p>
                    <p><i class="fa fa-angle-right"></i> TV Monitor LED 19" HD</p>
                    <p><i class="fa fa-angle-right"></i> Resolution: 1366x768</p>
                    <p><i class="fa fa-angle-right"></i> Color:	16.7 milion</p>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
              <ul class="dropdown-menu vertical-li">
                <li><a href="blog.html">Blog Prod</a></li>
                <li><a href="blog_right.html">Blog Right Sidebar</a></li>
                <li><a href="blog_left.html">Blog Left Sidebar</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>